<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
USER<br/>
<a href="/">INDEX</a>
<div th:if = "${user}">
    <p th:text="${user.getId()} + ', Login - ' + ${user.getName()} + ', Password - ' + ${user.getPassword()}">user</p><br/>
    <br/>
    <div th:each="role : ${user.getAuthorities()}">
        <p th:text="${role.getAuthority()}">role</p>
    </div>
    <br/>
    <p th:text="${num}">num</p>
    <br/>
    <div th:each="role : ${user.getRoles()}">
        <p th:text="${role.getRole()}">role</p>
    </div>
<!--    + ', getRoles - ' + ${#arrays.toArray(user.getRoles())}-->
<!--    + ', getRoles - ' + ${#arrays.toStringArray(user.getRoles())}-->
</div>
</body>
</html>